.trapezium {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #829ea8;
}

.trapezium:before {
    position: absolute;
    top: 0;
    left: -12px;
    display: block;

    width: 27px;
    height: 100%;
    
    background: #829ea8;
    content: ' ';
    transform: skew(24deg);
    border-radius: 7px;
}

.trapezium:after {
    position: absolute;
    top: 0;
    right: -12px;
    display: block;

    width: 27px;
    height: 100%;

    content: ' ';
    background: #829ea8;
    transform: skew(-24deg);
    border-radius: 8px;
}
