* {
    box-sizing: border-box;   
}

.App {
    .first-fold, .second-fold {
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 100vh;
        width: 100vw;
        padding: 30px;

        border: 40px solid #e4e5eb;

        .slider-widget-wrapper {
            /* padding: 10px; */
            height: clamp(320px, 90%, 700px);
            width: clamp(290px, 90%, 500px);
        }

        .level-indicator-wrapper {
            height: clamp(320px, 90%, 700px);
            width: clamp(300px, 90%, 320px);
        }
    }
}

